* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.calc {
  margin-top: 3em;
  padding-top: 1em;
  background-color: black;
  border-radius: 20px;
}
button {
  padding: 1em;
  font-size: 1.3rem;
  border-color: grey;
  border: 2px solid black;
  box-shadow: 0 0 10px rgb(88, 87, 87);
  border-radius: 50%;
  margin: 0.8em;
}
.fourth {
  background-color: darksalmon;
}

p {
  text-align: right;
  margin: 1em;
}
.firstRow {
  margin: 0.6em;
  background-color: darksalmon;
}
.uppernum {
  color: gray;
  font-size: 20px;
  height: 20px;
}
.lowernum {
  color: white;
  font-size: 30px;
  height: 30px;
}
@media (max-width: 1024px) {
  .calc {
    margin-top: 8em;
  }
  button {
    font-size: 1.5rem;
  }
}
@media (max-width: 541px) {
  .calc {
    padding-top: 1em;
    padding: 0.3em;
    margin-top: 3em;
  }
  button {
    font-size: 1.2rem;
    margin: 0.5em;
    padding: 0.8em;
  }
  .firstRow {
    margin: 0.3em;
    padding: 0.8em;
  }
  p {
    margin: 1em;
  }
  .upperNum {
    color: gray;

    font-size: 15px;
    height: 15px;
  }
  .lowerNum {
    color: white;
    font-size: 25px;
    height: 25px;
  }
}
